@use '@pagestyle/_variables' as *; // Importing color variables
@use '@pagestyle/_formStyles' as *; // Importing shared form styles

$iconbar-color: #a58463; // Keeping this specific to this file

input {
  @extend .form-input; // Using shared input styles
}

textarea {
  @extend .form-textarea; // Using shared textarea styles
}

textarea {
  height: 150px;
}

.progressUpdate {
  position: relative;

  .exitIcon {
    position: absolute;
    top: 3%;
    right: 3%;
    cursor: pointer;
    font-size: 1.5rem;
    color: $primary-color;
  }
}
