@use '@pagestyle/_variables' as *; // Importing color variables
@use '@pagestyle/_formStyles' as *; // Importing shared form styles

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  input {
    text-align: center;
    height: 20px;
    margin: 10px;
    border-style: none;
    border-radius: 20px;
    background-color: $secondary-color;
  }
}
