@use '@pagestyle/_variables' as *; // Importing color variables
@use '@pagestyle/_formStyles' as *; // Importing shared form styles
@use '@style/_selectStyles' as *; // Importing shared select styles
@use '@style/_commonStyles' as *; // Importing shared common styles
@use '@style/_flexboxUtilities' as *; // Importing shared flexbox utilities
@use '@style/_mediaQueries' as *; // Importing shared media queries

// Your existing styles here
.editProfile {
  @extend .flex-container; // Using shared flex container styles
  position: relative;
}

.editProfile img {
  width: 100px; /* Größe des Bildes anpassen */
  height: auto;
}

select {
  @extend select; // Using shared select styles
}

.header {
  @extend .header; // Using shared header styles
}

.loadingCircle {
  @extend .loadingCircle; // Using shared loading circle styles
}

// Media query for iPad Air
@media (min-width: 820px) and (max-height: 1180px) {
  .editProfile img {
    width: 120px; /* Adjusted size for iPad Air */
  }

  select {
    width: 60%; /* Adjusted width for iPad Air */
  }
}
