@use '@pagestyle/_variables' as *; // Importing color variables
@use '@pagestyle/_formStyles' as *; // Importing shared form styles

// Your existing styles here
.editProfile {
  position: relative;
  display: flex;
  align-items: center;
}

.editProfile img {
  width: 100px; /* Größe des Bildes anpassen */
  height: auto;
}

select {
  width: 50%;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
