@use '@pagestyle/_variables' as *; // Importing color variables
:root {
  /* COLORS */

  --tab-color: $tertiary-color;
  --white-color: $primary-color;
}

/* ------------ MENU ------------ */
.nav {
  background-color: var(--tab-color);
  width: 80%;
  height: 5%;
  margin: 5px;
  border-radius: 2em;
  padding: 0 2em;
  box-shadow: 0 1em 1em rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  list-style: none;
}

.nav__links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
}

.nav__link button {
  color: var(--white-color);
  font-size: 2.5rem;
  opacity: 0.5;
}

.nav__light {
  position: absolute;
  top: 0;
  left: 1.5em;
  background-color: var(--white-color);
  width: 4em;
  height: 0.4em;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  transition: 0.3s ease;
}

.nav__light::before {
  content: '';
  width: 5em;
  height: 7em;
  position: absolute;
  top: 0.3em;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3) -50%,
    rgba(255, 255, 255, 0) 90%
  );
  clip-path: polygon(30% 0, 70% 0, 100% 100%, 0% 100%);
}

.nav__link.active button {
  opacity: 1;
}

.nav__link.active button .bx-home-alt-2 {
  color: var(--home-icon-color);
  text-shadow: 0 0 15px var(--home-icon-color), 0 0 30px var(--home-icon-color),
    0 0 45px var(--home-icon-color), 0 0 60px var(--home-icon-color);
}

.nav__link:nth-child(1).active ~ .nav__light {
  background-color: var(--home-icon-color);
}

.nav__link.active button .bx-heart {
  color: var(--heart-icon-color);
  text-shadow: 0 0 15px var(--heart-icon-color),
    0 0 30px var(--heart-icon-color), 0 0 45px var(--heart-icon-color),
    0 0 60px var(--heart-icon-color);
}

.nav__link:nth-child(2).active ~ .nav__light {
  background-color: var(--heart-icon-color);
}

.nav__link.active button .bx-plus-circle {
  color: var(--plus-icon-color);
  text-shadow: 0 0 15px var(--plus-icon-color), 0 0 30px var(--plus-icon-color),
    0 0 45px var(--plus-icon-color), 0 0 60px var(--plus-icon-color);
}

.nav__link:nth-child(3).active ~ .nav__light {
  background-color: var(--plus-icon-color);
}

.nav__link.active button .bx-user {
  color: var(--user-icon-color);
  text-shadow: 0 0 15px var(--user-icon-color), 0 0 30px var(--user-icon-color),
    0 0 45px var(--user-icon-color), 0 0 60px var(--user-icon-color);
}

.nav__link:nth-child(4).active ~ .nav__light {
  background-color: var(--user-icon-color);
}

.nav__link.active button .bx-bell {
  color: var(--bell-icon-color);
  text-shadow: 0 0 15px var(--bell-icon-color), 0 0 30px var(--bell-icon-color),
    0 0 45px var(--bell-icon-color), 0 0 60px var(--bell-icon-color);
}

.nav__link:nth-child(5).active ~ .nav__light {
  background-color: var(--bell-icon-color);
}

main {
  margin-top: -100px; /* Abstand zwischen Header und Main verringern */
}
//Book stats - Start -
//section activeBook - Start -
.activeBook {
  div {
    display: flex;
    flex-direction: column;
    i {
      text-align: center;
    }
    img {
      width: 30%;
      border-radius: 20px;
    }
  }
}

.fa-square-plus {
  position: absolute;
  right: 10%;
  top: 25%; /* Positionierung des Plus-Symbols */
  margin: 5px;
  cursor: pointer;
  z-index: 1;
  transform: translate(50%, -50%);
}

.fa-chevron-right {
  position: absolute;
  right: 10%;
  top: 50%;
  margin: 5px;
  cursor: pointer;
  z-index: 1;
  transform: translate(50%, 50%);
}
//section activeBook - Ende -

//page -und booksStatistic werden in den jeweiligen componenten definiert

//section traget - Start -
.target {
  display: flex; /* Flexbox aktivieren, um die Elemente nebeneinander anzuzeigen */
  align-items: center; /* Vertikale Ausrichtung der Elemente */
  gap: 20px; /* Abstand zwischen Bild und LoadingCircle */
  padding: 20px;
  position: relative;

  img {
    width: 50%; /* Bildbreite anpassen */
    height: auto; /* Höhe automatisch anpassen */
    border-radius: 10px;
  }

  .loading-circle {
    /* Hier können Sie spezifische Stile für den LoadingCircle hinzufügen */
    width: 100px; /* Beispielbreite für den LoadingCircle */
    height: 100px; /* Beispielhöhe für den LoadingCircle */
  }

  .fa-square-plus {
    position: absolute;
    top: 15%;
    right: 5%;
    cursor: pointer;
    z-index: 1;
    transform: translate(50%, -50%);
  }

  .fa-chevron-right {
    position: absolute;
    bottom: 15%;
    right: 5%;
    cursor: pointer;
    z-index: 1;
    transform: translate(50%, 50%);
  }
}
//section traget - Ende -

//section gallery - Start -
.gallery {
  display: flex;
  width: 50%;
}

//section series - Start -
.series {
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    margin: 0 10px;

    p {
      margin: 5px 0;
      text-align: center;

      &:first-child {
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
  }
}
//section series - Ende -
//Book stats - Ende -

//Movie stats - Start -
.activeSeries {
  div {
    display: flex;
    flex-direction: column;
    i {
      text-align: center;
    }
    img {
      width: 50%;
      border-radius: 20px;
    }
  }
}
