#wishlist,
#favourites,
#unreadbooks,
#userlist,
#watchlist,
#video-favourites,
#unwatch,
#video-userlist {
  position: absolute;
  left: 86%;
}

#wishlist,
#watchlist {
  top: 24%;
}
#favourites,
#video-favourites {
  top: 46%;
}
#unreadbooks,
#unwatch {
  top: 69%;
}
#userlist,
#video-userlist {
  top: 92%;
}

#coming-soon {
  border-radius: 20px;
}

main {
  margin-bottom: 20px;
}
