@use '@pagestyle/_variables' as *; // Importing color variables
@use '@pagestyle/_formStyles' as *; // Importing shared form styles

header {
  margin-bottom: 25%;
}

main {
  h1 {
    font-size: 2rem;
  }

  section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .profilePicture {
      width: 4rem;
      margin: 20px;
    }

    form {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      input {
        @extend .form-input; // Using shared input styles
      }
    }
  }
}

h2,
p {
  text-align: center;
}
