.activeBook {
  display: flex;
  gap: 10px; // Adjusted for mobile
  position: relative;

  & > div {
    display: flex;
    flex-wrap: wrap;
    gap: 5px; // Adjusted for mobile
  }

  img {
    width: 40%; // Adjusted for mobile
    height: auto; // Maintain aspect ratio
    border-radius: 10px;
    margin-left: 10px; // Adjusted for mobile
    position: relative; // Changed to relative for better positioning
    top: 0; // Reset top position for mobile
    right: 0; // Reset right position for mobile
  }
}

// Media queries for larger screens
@media (min-width: 768px) {
  .activeBook {
    & > div {
      gap: 10px; // Original gap for larger screens
    }

    img {
      width: 20%; // Original size for larger screens
      height: 80%; // Original height for larger screens
      position: absolute; // Original positioning for larger screens
      top: 13%; // Original top position for larger screens
      right: 5%; // Original right position for larger screens
    }
  }
}
