.footer {
  & nav {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem; // Adjusted for mobile
  }
  & .monkey {
    width: 30px; // Adjusted for mobile
    height: 30px; // Adjusted for mobile
  }
  & .copyright {
    font-size: 0.9rem; // Adjusted for mobile
    display: flex;
  }
}

// Media queries for larger screens
@media (min-width: 768px) {
  .footer {
    & nav {
      padding: 1rem; // Original padding for larger screens
    }
    & .monkey {
      width: 20px; // Original size for larger screens
      height: 20px; // Original size for larger screens
    }
    & .copyright {
      font-size: 1rem; // Original size for larger screens
    }
  }
}
