.footer {
  .Iconbar {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 10px;
    .home {
      width: 14px;
      height: 14px;
    }
    .allSearch {
      width: 18px;
      height: 18px;
    }
    img {
      width: 25px;
      height: 25px;
    }
  }

  .home,
  .allSearch,
  .monkey {
    cursor: pointer;
    transition: transform 0.3s;
  }

  .home.active,
  .allSearch.active,
  .monkey.active {
    font-size: 20px;
    transform: scale(1.5);
  }

  .home:not(.active),
  .allSearch:not(.active),
  .monkey:not(.active) {
    font-size: 12px;
    opacity: 0.5;
  }
}
