.Header {
  & img.logo {
    width: 40px; // Adjusted for mobile
    height: 40px; // Adjusted for mobile
    position: absolute;
    right: 15px; // Adjusted for mobile
    top: 15px; // Adjusted for mobile
    border-radius: 50%;
  }

  & .icon-button {
    position: absolute;
    top: 15px; // Adjusted for mobile
    left: 15px; // Adjusted for mobile
    background: transparent; // Make background transparent
    border: none; // Remove border
    cursor: pointer; // Change cursor to pointer
  }

  & i {
    font-size: 20px; // Adjusted for mobile
    color: #000; // Set icon color
  }
}

// Media query for iPad Air
@media (min-width: 820px) and (max-height: 1180px) {
  .Header {
    & img.logo {
      width: 60px; // Adjusted size for iPad Air
      height: 60px; // Adjusted size for iPad Air
      right: 25px; // Adjusted position for iPad Air
      top: 25px; // Adjusted position for iPad Air
    }

    & .icon-button {
      top: 25px; // Adjusted position for iPad Air
      left: 25px; // Adjusted position for iPad Air
    }

    & i {
      font-size: 26px; // Adjusted size for iPad Air
    }
  }
}
