.loading-bar {
  width: 50%;
  height: 15px;
  background-color: #f0c688;
  border-radius: 4px;
  overflow: hidden;

  &__progress {
    height: 100%;
    background-color: grey;
    transition: width 0.3s ease;
  }

  &--bars {
    display: flex;
    gap: 4px;
    background-color: transparent;
  }

  &__bar {
    flex: 1;
    height: 100%;
    background-color: #f0c688;
    border-radius: 4px;
    transition: background-color 0.3s ease;

    &--active {
      background-color: grey;
    }
  }
}
