@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&family=Nanum+Gothic&family=Tilt+Neon&display=swap');

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manjari', sans-serif;
  color: #662e1c;
  background-color: #ebdcb2;
}

main {
  background-color: #c9a66b;
}

.profilePicture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

h1 {
  font-family: 'Nanum Gothic', sans-serif;
}
