@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&family=Nanum+Gothic&family=Tilt+Neon&display=swap');

$primary-color: #662e1c;
$secondary-color: #ebdcb2;
$tertiary-color: #c9a66b;
$iconbar-color: #a58463;

.container {
  font-family: 'Manjari', sans-serif;
  color: $primary-color;
  background-color: $secondary-color;
  width: 100%;
  min-height: 100vh; // Statt height für bessere Browser-Kompatibilität
  display: flex;
  flex-direction: column;
  overflow: hidden; // Verhindert Scrollbalken bei festen Elementen
}

// Header: 1/6 der Höhe
header {
  height: 10%; // Reduzierte Höhe für den Header
  background-color: $secondary-color; // Explizite Hintergrundfarbe
}

// Main: 2/3 der Höhe
main {
  height: 85%; // Erhöhte Höhe für das Main
  background-color: $secondary-color; // Explizite Hintergrundfarbe
  overflow-y: scroll; // Scrollen bei Bedarf
  padding-bottom: 20px;
}

// Footer: 1/12 der Höhe (Hälfte der ursprünglichen Höhe)
footer {
  height: 5%; // Reduzierte Höhe für den Footer
  background-color: $iconbar-color;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

// Sektionen mit border-radius und Abstand
section {
  margin: 20px;
  border-radius: 10px;
  padding: 15px;
  background-color: $tertiary-color;
}

h1 {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 2rem; // Adjusted for mobile
  text-align: center;
}

h2 {
  font-size: 1.5rem; // Adjusted for mobile
}

p {
  font-size: 0.9rem; // Adjusted for mobile
  padding: 5px;
}

// Button Variablen
$button-width: 95%;
$button-height: 20px;
$button-font-size: 12px;
$button-color: #fff;
$button-hover-color: #000;
$button-gradient: linear-gradient(to bottom, #ebdcb2, #c9a66b);
$button-border-radius: 10px;
$button-transition: all 0.25s ease;
$button-padding: 5px;
$button-margin: 10px;

.clickButton {
  width: $button-width;
  height: $button-height;
  font-size: $button-font-size;
  color: $button-color;
  background: $button-gradient;
  border: none;
  border-radius: $button-border-radius;
  transition: $button-transition;
  padding: $button-padding;
  margin: $button-margin;

  &:hover {
    color: $button-hover-color;
    background: $button-gradient;
    border-color: none;
  }
}

// Media queries for larger screens
@media (min-width: 768px) {
  header {
    height: 10%; // Originalhöhe für größere Bildschirme
  }

  main {
    height: 85%; // Originalhöhe für größere Bildschirme
  }

  footer {
    height: 5%; // Originalhöhe für größere Bildschirme
  }

  h1 {
    font-size: 3rem; // Originalgröße für größere Bildschirme
  }

  h2 {
    font-size: 2rem; // Originalgröße für größere Bildschirme
  }

  p {
    font-size: 1rem; // Originalgröße für größere Bildschirme
  }
}
